
<h1>Help</h1>

<h2>Contact Information</h2>
<p>Nalaka Gooneratne</p>
<p>Phone: 1-800-DONTCALLME</p>
<p>Email: donotemail@email.com</p>

<h2>About this project</h2>
<p>Delirium Tracker is a web platform for care providers to keep track of their patients' activities through smart watches. 
    The platform will allow providers to measure and compare recent and past activity to get a sense of the patientes movement and diagnose hospital-induced delirium</p>

<h2>Bugs / Issues</h2>
<p>Please email us for now</p>