<%= javascript_include_tag "https://www.google.com/jsapi" %>
<h1>Patient Record Page: <%= @patient.name %></h1>
<p>Collected <%= @days %> days of data</p>


<% @hashes.each do |h| %>
    <%= line_chart h, width: "800px", height: "200px"%>
<% end %>

